In [1]:
%load_ext autoreload
%autoreload 2

import sys
import matplotlib.pyplot as plt
import pandas as pd
from os.path import join

config_dir = "../../config"
if config_dir not in sys.path:
    sys.path.insert(0, config_dir)

from config import add_to_path, root_dir, google_folder_id, download_dir
add_to_path(join(root_dir, 'src'))
import utils.preprocessing as preprocessing
from data_loader import load_data

Added to sys: c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\Projet-recheche-INSA-anomaly-detection-librairy-1\src

# Application : Racing car data

In [45]:
data_dict, extracted_dir = load_data(
    file_id=google_folder_id,
    work_dir=join(download_dir, "gdrive_tar_data"),
    tar_name="data.tar",
    pattern="*.csv",
)

In [46]:
list_keys = list(data_dict.keys())

# To load other dataset, change the index of list_keys. Here we load the first dataset in the data_dict.

df = data_dict[list_keys[2]] 
df.describe()

,nwl1,nwl2,nwl3,nwl4,fprd1,fprd2,fprd3,fprd4,pstr1,pstr3,astrw,g2,ny,vcrf,v2
count,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000
mean,2.756788,2.593860,1.469303,1.329398,-3677.408018,-3775.790264,-5740.722730,-5632.982818,10.162733,13.020189,2.187615,0.009717,-5.218832,0.414109,-0.230919
std,5.922912,7.586181,5.997385,5.980300,1311.613526,1196.898171,1636.259964,2503.340778,8.828010,19.472170,18.527042,0.025188,10.193691,0.890072,0.341467
min,0.138347,-0.467636,-0.136348,-0.052463,-5686.220000,-5659.170000,-7211.200000,-7982.850000,4.094090,4.094180,-127.443000,-0.120623,-24.254200,0.047649,-1.380380
25%,0.138347,-0.467636,-0.136348,-0.052463,-4205.990000,-4258.930000,-6402.760000,-6641.870000,7.467733,6.899740,5.325490,-0.001826,-16.651900,0.047649,-0.469245
50%,0.138347,-0.467636,-0.136348,-0.052463,-4193.240000,-4243.860000,-6379.760000,-6609.830000,7.995760,7.430520,5.446720,0.010053,0.614676,0.047649,-0.060807
75%,0.138347,-0.467636,-0.136348,-0.052463,-4153.830000,-4216.330000,-6350.180000,-6552.620000,8.505580,7.939640,5.527550,0.021933,0.965899,0.114020,-0.029389
max,31.482300,33.760600,35.926000,31.131400,-108.397000,65.804200,-986.835000,1207.220000,54.202000,91.380800,26.161800,0.176368,5.316530,7.304120,0.913159

In [47]:
# Verify the type of the loaded data. Here the dataset is DataFrame

display(type(df))
df

pandas.core.frame.DataFrame

,datetime,nwl1,nwl2,nwl3,nwl4,fprd1,fprd2,fprd3,fprd4,pstr1,pstr3,astrw,g2,ny,vcrf,v2
0,2024-04-15T12:36:37.780,31.482300,33.760600,35.926000,31.131400,-700.724,-52.42190,-1009.84,-522.782,15.21650,11.68760,-127.44300,0.069451,-2.21777,2.259990,-0.406408
1,2024-04-15T12:36:37.790,31.482300,33.760600,35.926000,31.131400,-734.332,-24.60960,-1026.27,-506.766,9.67088,7.85298,-127.44300,0.069451,-2.37638,2.083000,-0.500663
2,2024-04-15T12:36:37.800,31.482300,33.760600,35.926000,31.131400,-709.995,3.21138,-1049.28,-490.750,6.16458,5.11241,-127.44300,0.069451,-1.80989,1.994510,-0.437827
3,2024-04-15T12:36:37.810,27.683000,33.760600,31.554800,31.131400,-736.652,43.78720,-1068.99,-447.264,5.26979,4.34332,-127.44300,0.069451,-1.73059,1.906010,-0.343572
4,2024-04-15T12:36:37.820,27.683000,33.760600,31.554800,26.973600,-750.563,48.41830,-1093.64,-424.381,4.96806,4.18084,-127.44300,0.057572,-1.43601,1.817520,-0.186480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1689,2024-04-15T12:36:54.670,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245
1690,2024-04-15T12:36:54.680,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245
1691,2024-04-15T12:36:54.690,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245
1692,2024-04-15T12:36:54.700,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245
1693,2024-04-15T12:36:54.710,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245

In [48]:
# Verify if there is duplicate lines in the dataset and drop them if there are any.

preprocessing.drop_duplicate(df, Verbose=True)
df

INFO: No duplicate lines have been found.

,datetime,nwl1,nwl2,nwl3,nwl4,fprd1,fprd2,fprd3,fprd4,pstr1,pstr3,astrw,g2,ny,vcrf,v2
0,2024-04-15T12:36:37.780,31.482300,33.760600,35.926000,31.131400,-700.724,-52.42190,-1009.84,-522.782,15.21650,11.68760,-127.44300,0.069451,-2.21777,2.259990,-0.406408
1,2024-04-15T12:36:37.790,31.482300,33.760600,35.926000,31.131400,-734.332,-24.60960,-1026.27,-506.766,9.67088,7.85298,-127.44300,0.069451,-2.37638,2.083000,-0.500663
2,2024-04-15T12:36:37.800,31.482300,33.760600,35.926000,31.131400,-709.995,3.21138,-1049.28,-490.750,6.16458,5.11241,-127.44300,0.069451,-1.80989,1.994510,-0.437827
3,2024-04-15T12:36:37.810,27.683000,33.760600,31.554800,31.131400,-736.652,43.78720,-1068.99,-447.264,5.26979,4.34332,-127.44300,0.069451,-1.73059,1.906010,-0.343572
4,2024-04-15T12:36:37.820,27.683000,33.760600,31.554800,26.973600,-750.563,48.41830,-1093.64,-424.381,4.96806,4.18084,-127.44300,0.057572,-1.43601,1.817520,-0.186480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1689,2024-04-15T12:36:54.670,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245
1690,2024-04-15T12:36:54.680,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245
1691,2024-04-15T12:36:54.690,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245
1692,2024-04-15T12:36:54.700,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245
1693,2024-04-15T12:36:54.710,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245

In [49]:
# Verify if there is any NaN value in the dataset and drop them if there are any.

preprocessing.drop_nan(df,Verbose=True)
df

INFO: No lines with NaN values have been found.

,datetime,nwl1,nwl2,nwl3,nwl4,fprd1,fprd2,fprd3,fprd4,pstr1,pstr3,astrw,g2,ny,vcrf,v2
0,2024-04-15T12:36:37.780,31.482300,33.760600,35.926000,31.131400,-700.724,-52.42190,-1009.84,-522.782,15.21650,11.68760,-127.44300,0.069451,-2.21777,2.259990,-0.406408
1,2024-04-15T12:36:37.790,31.482300,33.760600,35.926000,31.131400,-734.332,-24.60960,-1026.27,-506.766,9.67088,7.85298,-127.44300,0.069451,-2.37638,2.083000,-0.500663
2,2024-04-15T12:36:37.800,31.482300,33.760600,35.926000,31.131400,-709.995,3.21138,-1049.28,-490.750,6.16458,5.11241,-127.44300,0.069451,-1.80989,1.994510,-0.437827
3,2024-04-15T12:36:37.810,27.683000,33.760600,31.554800,31.131400,-736.652,43.78720,-1068.99,-447.264,5.26979,4.34332,-127.44300,0.069451,-1.73059,1.906010,-0.343572
4,2024-04-15T12:36:37.820,27.683000,33.760600,31.554800,26.973600,-750.563,48.41830,-1093.64,-424.381,4.96806,4.18084,-127.44300,0.057572,-1.43601,1.817520,-0.186480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1689,2024-04-15T12:36:54.670,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245
1690,2024-04-15T12:36:54.680,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245
1691,2024-04-15T12:36:54.690,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245
1692,2024-04-15T12:36:54.700,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245
1693,2024-04-15T12:36:54.710,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245

**Comments** : All lines have the NaN values

In [50]:
# Verify the type of datetime column

df.dtypes

datetime     object
nwl1        float64
nwl2        float64
nwl3        float64
nwl4        float64
fprd1       float64
fprd2       float64
fprd3       float64
fprd4       float64
pstr1       float64
pstr3       float64
astrw       float64
g2          float64
ny          float64
vcrf        float64
v2          float64
dtype: object

In [51]:
# Convert the datetime column to datetime type and verify the type again

preprocessing.convert_datetime(df).dtypes
df

,datetime,nwl1,nwl2,nwl3,nwl4,fprd1,fprd2,fprd3,fprd4,pstr1,pstr3,astrw,g2,ny,vcrf,v2
0,2024-04-15 12:36:37.780,31.482300,33.760600,35.926000,31.131400,-700.724,-52.42190,-1009.84,-522.782,15.21650,11.68760,-127.44300,0.069451,-2.21777,2.259990,-0.406408
1,2024-04-15 12:36:37.790,31.482300,33.760600,35.926000,31.131400,-734.332,-24.60960,-1026.27,-506.766,9.67088,7.85298,-127.44300,0.069451,-2.37638,2.083000,-0.500663
2,2024-04-15 12:36:37.800,31.482300,33.760600,35.926000,31.131400,-709.995,3.21138,-1049.28,-490.750,6.16458,5.11241,-127.44300,0.069451,-1.80989,1.994510,-0.437827
3,2024-04-15 12:36:37.810,27.683000,33.760600,31.554800,31.131400,-736.652,43.78720,-1068.99,-447.264,5.26979,4.34332,-127.44300,0.069451,-1.73059,1.906010,-0.343572
4,2024-04-15 12:36:37.820,27.683000,33.760600,31.554800,26.973600,-750.563,48.41830,-1093.64,-424.381,4.96806,4.18084,-127.44300,0.057572,-1.43601,1.817520,-0.186480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1689,2024-04-15 12:36:54.670,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245
1690,2024-04-15 12:36:54.680,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245
1691,2024-04-15 12:36:54.690,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245
1692,2024-04-15 12:36:54.700,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245
1693,2024-04-15 12:36:54.710,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245

**Comments** : The datetime type is changed.

In [52]:
preprocessing.renorm_time(df)
df

,datetime,nwl1,nwl2,nwl3,nwl4,fprd1,fprd2,fprd3,fprd4,pstr1,pstr3,astrw,g2,ny,vcrf,v2,time_real
0,2024-04-15 12:36:37.780,31.482300,33.760600,35.926000,31.131400,-700.724,-52.42190,-1009.84,-522.782,15.21650,11.68760,-127.44300,0.069451,-2.21777,2.259990,-0.406408,0.00
1,2024-04-15 12:36:37.790,31.482300,33.760600,35.926000,31.131400,-734.332,-24.60960,-1026.27,-506.766,9.67088,7.85298,-127.44300,0.069451,-2.37638,2.083000,-0.500663,0.01
2,2024-04-15 12:36:37.800,31.482300,33.760600,35.926000,31.131400,-709.995,3.21138,-1049.28,-490.750,6.16458,5.11241,-127.44300,0.069451,-1.80989,1.994510,-0.437827,0.02
3,2024-04-15 12:36:37.810,27.683000,33.760600,31.554800,31.131400,-736.652,43.78720,-1068.99,-447.264,5.26979,4.34332,-127.44300,0.069451,-1.73059,1.906010,-0.343572,0.03
4,2024-04-15 12:36:37.820,27.683000,33.760600,31.554800,26.973600,-750.563,48.41830,-1093.64,-424.381,4.96806,4.18084,-127.44300,0.057572,-1.43601,1.817520,-0.186480,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1689,2024-04-15 12:36:54.670,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245,16.89
1690,2024-04-15 12:36:54.680,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245,16.90
1691,2024-04-15 12:36:54.690,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245,16.91
1692,2024-04-15 12:36:54.700,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245,16.92
1693,2024-04-15 12:36:54.710,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245,16.93

After preprocessing on one session (one DataFrame), we apply it on all the dataframes of the dict.

In [44]:
#We apply these preprocessing functions to each data frame of the dictionnary using the function 'preprocess_all_sessions'
def preprocess_all_sessions(sessions_dict: dict) -> dict:
    """
    Apply the full preprocessing pipeline to multiple driving sessions.
    This function iterates through a dictionary of sessions, applying all the previous cleaning function
    to each session individually to maintain data 
    integrity and avoid cross-contamination between different runs.
    Args:
    Returns:
        dict: A dictionnary with the cleaned DataFrames.
    """
    cleaned_sessions = dict()
    for session_name, df in sessions_dict.items():
        print(f"Nettoyage de la session : {session_name}")
        cleaned_df = preprocessing.clean_dataframe(df)
        cleaned_sessions[session_name] = cleaned_df

    return cleaned_sessions
dict_cleaned=preprocess_all_sessions(data_dict)

Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2321.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2706.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2725.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2761.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2780.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2819.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2870.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2889.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2909.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2928.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2948.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2987.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3014.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3033.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3052.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3070.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3089.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3143.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3155.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3221.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3240.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3261.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3280.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3319.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3339.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3358.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3377.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3397.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3417.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3438.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3458.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3479.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3499.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3538.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3558.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3577.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3597.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3651.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3671.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3674.csv
Nettoyage de la session : c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3690.csv

,datetime,nwl1,nwl2,nwl3,nwl4,fprd1,fprd2,fprd3,fprd4,pstr1,pstr3,astrw,g2,ny,vcrf,v2,time_real
0,2024-04-15 12:36:37.780,31.482300,33.760600,35.926000,31.131400,-700.724,-52.42190,-1009.84,-522.782,15.21650,11.68760,-127.44300,0.069451,-2.21777,2.259990,-0.406408,0.00
1,2024-04-15 12:36:37.790,31.482300,33.760600,35.926000,31.131400,-734.332,-24.60960,-1026.27,-506.766,9.67088,7.85298,-127.44300,0.069451,-2.37638,2.083000,-0.500663,0.01
2,2024-04-15 12:36:37.800,31.482300,33.760600,35.926000,31.131400,-709.995,3.21138,-1049.28,-490.750,6.16458,5.11241,-127.44300,0.069451,-1.80989,1.994510,-0.437827,0.02
3,2024-04-15 12:36:37.810,27.683000,33.760600,31.554800,31.131400,-736.652,43.78720,-1068.99,-447.264,5.26979,4.34332,-127.44300,0.069451,-1.73059,1.906010,-0.343572,0.03
4,2024-04-15 12:36:37.820,27.683000,33.760600,31.554800,26.973600,-750.563,48.41830,-1093.64,-424.381,4.96806,4.18084,-127.44300,0.057572,-1.43601,1.817520,-0.186480,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1689,2024-04-15 12:36:54.670,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245,16.89
1690,2024-04-15 12:36:54.680,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245,16.90
1691,2024-04-15 12:36:54.690,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245,16.91
1692,2024-04-15 12:36:54.700,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245,16.92
1693,2024-04-15 12:36:54.710,0.138347,-0.467636,-0.136348,-0.052463,-4136.430,-4175.48000,-6358.39,-6552.620,8.67205,7.99380,5.49522,-0.001826,4.60276,0.047649,-0.469245,16.93