In [2]:
import sys
import matplotlib.pyplot as plt
import pandas as pd
from os.path import join

config_dir = "../../config"
if config_dir not in sys.path:
    sys.path.insert(0, config_dir)

from config import add_to_path, root_dir, google_folder_id, download_dir
add_to_path(join(root_dir, 'src'))
import utils.preprocessing as preprocessing
from data_loader import load_data

Added to sys: c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\Projet-recheche-INSA-anomaly-detection-librairy\src

# Application : Racing car data

In [3]:
data_dict, extracted_dir = load_data(
    file_id=google_folder_id,
    work_dir=join(download_dir, "gdrive_tar_data"),
    tar_name="data.tar",
    pattern="*.csv",
)

In [4]:
list_keys = list(data_dict.keys())

# To load other dataset, change the index of list_keys. Here we load the first dataset in the data_dict.

df = data_dict[list_keys[0]] 
df.describe()

,nwl1,nwl2,nwl3,nwl4,fprd1,fprd2,fprd3,fprd4,pstr1,pstr3,astrw,g2,ny,vcrf,v2
count,0.0,0.0,0.0,0.0,110.0,110.0,110.0,110.0,110.000000,110.000000,110.000000,110.000000,110.000000,110.0,110.0
mean,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,7.107637,7.059727,-0.355818,0.012091,0.234727,0.0,0.0
std,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.051840,0.064553,0.069254,0.009116,0.083309,0.0,0.0
min,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,6.995650,6.919200,-0.512762,-0.014152,0.036765,0.0,0.0
25%,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,7.068480,7.005860,-0.407692,0.009607,0.184052,0.0,0.0
50%,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,7.110100,7.065435,-0.359198,0.009607,0.252031,0.0,0.0
75%,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,7.141310,7.103350,-0.310704,0.021487,0.252031,0.0,0.0
max,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,7.255760,7.211670,-0.189469,0.033366,0.467297,0.0,0.0

In [5]:
# Verify the type of the loaded data. Here the dataset is DataFrame

type(df)

pandas.core.frame.DataFrame

In [6]:
# Verify if there is duplicate lines in the dataset and drop them if there are any.

preprocessing.drop_duplicate(df)

INFO: No duplicate lines have been found.

,datetime,nwl1,nwl2,nwl3,nwl4,fprd1,fprd2,fprd3,fprd4,pstr1,pstr3,astrw,g2,ny,vcrf,v2
0,2024-04-09T19:14:30.317,NaN,NaN,NaN,NaN,0,0,0,0,7.06848,6.99503,-0.294539,0.009607,0.184052,0,0
1,2024-04-09T19:14:30.327,NaN,NaN,NaN,NaN,0,0,0,0,7.05807,6.97336,-0.318786,0.009607,0.184052,0,0
2,2024-04-09T19:14:30.337,NaN,NaN,NaN,NaN,0,0,0,0,7.13090,7.10335,-0.440021,-0.002273,0.252031,0,0
3,2024-04-09T19:14:30.347,NaN,NaN,NaN,NaN,0,0,0,0,7.13090,7.16835,-0.383445,0.021487,0.184052,0,0
4,2024-04-09T19:14:30.357,NaN,NaN,NaN,NaN,0,0,0,0,7.03726,6.93004,-0.278375,0.009607,0.331339,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,2024-04-09T19:14:31.367,NaN,NaN,NaN,NaN,0,0,0,0,7.12050,7.01669,-0.367280,0.009607,0.252031,0,0
106,2024-04-09T19:14:31.377,NaN,NaN,NaN,NaN,0,0,0,0,7.20374,7.04919,-0.415774,0.009607,0.252031,0,0
107,2024-04-09T19:14:31.387,NaN,NaN,NaN,NaN,0,0,0,0,7.07888,7.00586,-0.237963,0.021487,0.252031,0,0
108,2024-04-09T19:14:31.397,NaN,NaN,NaN,NaN,0,0,0,0,7.16212,7.10335,-0.310704,-0.002273,0.252031,0,0
109,2024-04-09T19:14:31.407,NaN,NaN,NaN,NaN,0,0,0,0,7.23495,7.17918,-0.310704,-0.002273,0.252031,0,0

In [7]:
# Verify if there is any NaN value in the dataset and drop them if there are any.

preprocessing.drop_NAn(df)

INFO: 110 lines have been removed.

Empty DataFrame
Columns: [datetime, nwl1, nwl2, nwl3, nwl4, fprd1, fprd2, fprd3, fprd4, pstr1, pstr3, astrw, g2, ny, vcrf, v2]
Index: []

**Comments** : All lines have the NaN values

In [8]:
# Verify the type of datetime column

df.dtypes

datetime     object
nwl1        float64
nwl2        float64
nwl3        float64
nwl4        float64
fprd1         int64
fprd2         int64
fprd3         int64
fprd4         int64
pstr1       float64
pstr3       float64
astrw       float64
g2          float64
ny          float64
vcrf          int64
v2            int64
dtype: object

In [9]:
# Convert the datetime column to datetime type and verify the type again

preprocessing.convert_datetime(df).dtypes

datetime    datetime64[ns]
nwl1               float64
nwl2               float64
nwl3               float64
nwl4               float64
fprd1                int64
fprd2                int64
fprd3                int64
fprd4                int64
pstr1              float64
pstr3              float64
astrw              float64
g2                 float64
ny                 float64
vcrf                 int64
v2                   int64
dtype: object

**Comments** : The datetime type is changed.

In [11]:
#We apply these preprocessing functions to each data frame of the dictionnary using the function 'preprocess_all_sessions'

dict_cleaned=preprocessing.preprocess_all_sessions(data_dict)

Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2321.csv
INFO: No duplicate lines have been found.
INFO: 110 lines have been removed.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2706.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2725.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2761.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2780.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2819.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2870.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2889.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2909.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2928.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2948.csv
INFO: 170 lines have been removed.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL2987.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3014.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3033.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3052.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3070.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3089.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3143.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3155.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3221.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3240.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3261.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3280.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3319.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3339.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3358.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3377.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3397.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3417.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3438.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3458.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3479.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3499.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3538.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3558.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3577.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3597.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3651.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3671.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3674.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.
Nettoyage de la session : c:\Users\Utilisateur\Desktop\reading_seminar\Application données\Code\data_download\gdrive_tar_data\extracted\fetching_data_examples_for_PIR-ARAG24\T24S12-04_E-AL3690.csv
INFO: No duplicate lines have been found.
INFO: No lines with NaN values have been found.