In [1]:
%load_ext autoreload
%autoreload 2


import sys
from os.path import join, dirname, abspath,splitext,split
import matplotlib.pyplot as plt
import pandas as pd

config_dir = "../config"
if config_dir not in sys.path:
    sys.path.insert(0, config_dir)

from config import add_to_path, root_dir
add_to_path(join(root_dir, 'src'))

import utils.preprocessing as preprocessing

Added to sys: c:\Users\fauli\OneDrive\Bureau\INSA\quatrième_année\deuxieme_semestre\projet recheche\library\Projet-recheche-INSA-anomaly-detection-librairy-1\src

# drop_duplicate

In [2]:
d = {"col1": [1, 2, 2], "col2": [3, 3, 3]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     3
2     2     3

In [3]:
print(preprocessing.drop_duplicate(df))

   col1  col2
0     1     3
1     2     3

# drop_nan

In [4]:
d = {"col1": [1, 2, float('nan')], "col2": [3, 3, 3]}
df = pd.DataFrame(data=d)
df

   col1  col2
0   1.0     3
1   2.0     3
2   NaN     3

In [5]:
print(preprocessing.drop_nan(df))

   col1  col2
0   1.0     3
1   2.0     3

# convert_datetime

In [6]:
d = {"datetime": ['2026-02-15 15:16:45', '2026-02-15 16:16:45'], "col2": [1, 2]}
df = pd.DataFrame(data=d)
df

              datetime  col2
0  2026-02-15 15:16:45     1
1  2026-02-15 16:16:45     2

In [7]:
print(preprocessing.convert_datetime(df))

             datetime  col2
0 2026-02-15 15:16:45     1
1 2026-02-15 16:16:45     2

In [8]:
preprocessing.convert_datetime(df).dtypes

datetime    datetime64[ns]
col2                 int64
dtype: object

# renorm_time

In [9]:
preprocessing.renorm_time(df)

             datetime  col2  time_real
0 2026-02-15 15:16:45     1        0.0
1 2026-02-15 16:16:45     2     3600.0

# convert_dict_to_dataframe

In [10]:
data = {"col_1": [3, 2, 1, 0], "col_2": ["a", "b", "c", "d"]}
df = preprocessing.convert_dict_to_dataframe(data)
df

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [11]:
type(df)

pandas.core.frame.DataFrame

# clean_dataframe

In [15]:
d = {"col1": [1, 1, float('nan')], "col2": [3, 3, 3],"col3": [1, 1, 2], "col4": [3, 3, 3],"datetime": ['2026-02-15 15:16:45', '2026-02-15 15:16:45','2026-02-15 17:16:45']}
df = pd.DataFrame(data=d)
df

   col1  col2  col3  col4             datetime
0   1.0     3     1     3  2026-02-15 15:16:45
1   1.0     3     1     3  2026-02-15 15:16:45
2   NaN     3     2     3  2026-02-15 17:16:45

In [16]:
preprocessing.clean_dataframe(df)
df

   col1  col2  col3  col4            datetime  time_real
0   1.0     3     1     3 2026-02-15 15:16:45        0.0